{{#extends 'base'}}

{{#block 'content'}}
<div>
    <div>
        <h3>All orders</h3> 
    </div>
</div>


{{!-- search engine panel --}}
<div class = "card">
    <div class = "card-header pb-1 bg-white"> 
        <h5>Quick Search</h5>
    </div>
    <div class = "card-body">
        <form method="GET">
            {{{form}}}
            <div>
                <input type="submit" class="btn btn-dark btn-block mb-3 mt-3" value="Search"/>
                <a class="btn btn-outline-dark" href="/orders">Clear</a>
            </div>
        </form>
    </div>
</div>

{{!-- <div class = "container d-flex flex-wrap mt-3 "> --}}
<div class="table-responsive-md">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Order SN</th>
                <th scope="col">Order ID</th>
                <th scope="col">Order Total </th>
                <th scope="col">User ID </th>
                <th scope="col">Order Details</th>
                <th scope="col">Order Status</th>
                <th scope="col">Action</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
                <tr>
                        <td>{{this.order_id}}</td>
                        <td>{{this.id}}</td>
                        <td>{{this.total_amount}}</td>
                        <td>{{this.users_id}}</td>
                        {{!-- <td>
                            {{#each (parse this.order_details)}}
                                <p>{{this}}</p>
                            {{/each}}
                        </td> --}}
                        <td>{{this.order_status}}</td>
                        <td><a class="btn btn-primary btn-sm" href="/orders/{{this.order_id}}/update">Update status</a></td>
                        <td><a class="btn btn-danger btn-sm" href="/orders/{{this.order_id}}/delete">Delete order</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{/block}}

{{/extends}}

