{{#extends 'base'}}

{{#block 'content'}}
<h1>Product Detail Page</h1> 

<div class="card-deck justigy-content-center">
    <div class = "card" style = "width: 18rem;">
        <div class = "card-header">
            {{this.name}}
        </div>
        <div class="card-body">
            {{!-- <p class = "card-text"> {{this.id}}</p> --}}
            {{!-- <p class = "card-text">{{this.name}}</p> --}}
            <p class = "card-text"> Price: {{this.cost}}</p>
            <p class = "card-text"> Description: {{this.description}}</p>
            <p class = "card-text"> Brand: {{this.brand}}</p>
            <p class = "card-text"> Condition: {{this.condition}}</p>
            <p class = "card-text"> Tags: {{#each this.tags}}
                 <span class="badge bg-secondary">{{this.name}}</span>
                {{/each}}
                </p>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-success btn-sm" href="/products">Back to Shop Listings</a>
</div>


{{/block}}

{{/extends}}

