{{#extends 'base'}}

{{#block 'content'}}
<div>
    <div>
        <h3>Shop All</h3> 
    </div>
</div>

{{!-- <a class="btn btn-primary" href="/products/create">Create New</a> --}}

{{!-- search engine panel --}}
<div class = "card">
    <div class = "card-header pb-1 bg-white"> 
        <h5>Quick Search</h5>
    </div>
    <div class = "card-body">
        <form method="GET">
            {{{form}}}
            <div>
                <input type="submit" class="btn btn-dark btn-block mb-3 mt-3" value="Search"/>
                <a class="btn btn-outline-dark" href="/products">Clear</a>
            </div>
        </form>
    </div>
</div>


<div class = "container d-flex flex-wrap mt-3">
    {{#each products}}
    <div class = "mx-3 my-2">
        <div class="card-deck h-100 justigy-content-center">
            <div class = "card h-100" style = "width: 22rem;">
                <div class = "card-header">
                    <b>{{this.name}}</b>
                </div>
                <div class = "mt-3">
                    <img src="{{this.image_url}}" class="img-fluid"/>
                </div>
                <div class="card-body">
                    <p class = "card-text"><b> Price:</b> {{this.cost}}</p>
                    <p class = "card-text"> Description: {{this.description}}</p>
                    <p class = "card-text"> Brand: {{this.brand}}</p>
                    <p class = "card-text"> Tags: {{#each this.tags}}
                        <span class="badge bg-secondary">{{this.name}}</span>
                        {{/each}}
                        </p>
                    <p>{{user.username}}</p>
                    {{#if ../user}}
                    <a class="btn btn-primary btn-sm" href="/products/{{this.id}}/update">Update</a>
                    <a class="btn btn-danger btn-sm" href="/products/{{this.id}}//delete">Delete</a>
                    <a class="btn btn-dark btn-sm" href="/ShoppingCart/{{this.id}}/add">Add to Cart</a>
                    {{/if}}
                    <a class="btn btn-outline-dark btn-sm" href="/products/{{this.id}}/details">View Details</a>
                    
                </div>
            </div>
        </div>
    </div>

    {{/each}}
</div>

{{/block}}

{{/extends}}

